@font-face {
    font-family: PixeBoy;
    src: url(./assets/PixeBoy.ttf);
}
*, *::before, *::after{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Pixeboy';
    font-size: xx-large;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.header{
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.mainGame{
    font-family: 'Pixeboy';
    font-size: x-large;
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
    outline: 5px solid white;
    color: white;
    background-size: cover;
    transition: background-image 1s ease-in;
    
}
.round1{
    background-image: url("./assets/2a.gif");
}
.round2{
    background-image: url('./assets/3a.gif');
}
.round3{
    background-image: url('./assets/4a.gif');
}
.round4{
    background-image: url('./assets/1a.gif');
}
.round5{
    background-image: url('./assets/5a.gif');
}

.spaceShip{
    position: absolute;
    background-image: url('./assets/spaceshipsprites.gif');
    background-position: 75px 0px;
    width: 35px;
    height: 35px;
    transition: all 20ms ease-in-out;
    -webkit-transition: all 20ms ease-out;
}
.left{
    background-position: 0px 0px;

}
.right{
    background-position: 34px 0px;
}
.bullet{
    background-image: url('./assets/bullet.png');
    position: absolute;
    width: 12px;
    height: 12px;
}
.enemy{
    background-image: url('./assets/enemy1.png');
    width: 40px;
    height: 40px;
    background-size: cover;
}
.enemy2{
    background-image: url('./assets/enemy2.png');
    width: 54px;
    height: 40px;
    background-size: cover;
}
.explode{
    background-image: url('./assets/explode.gif');
    width: 40px;
    height: 40px;
    background-size: cover;
}
.menu{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: 720px;
}
.score{
    font-size: 30px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 1s ease-in;
}
#start{
    background-color: white;
    border: 2px solid black;
    font-family: 'PixeBoy';
    font-size: 30px;
    padding: 5px;
}
#start:hover{
    cursor: pointer;
    background-color: rgb(105, 0, 0);
    color: white;
}
.blink{
    animation: blinker 0.5s linear infinite;
}
.show{
    opacity: 1;
}
@keyframes blinker {
    50%{
        opacity: 0;
    }
}